[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
numpy = "*"
sklearn = "*"
"h5py" = "*"
Flask = "*"
Keras = "*"
Pillow = "*"
Theano = "*"

[dev-packages]

[requires]
python_version = "3.6"
